NOVA_DB_HOST=localhost
NOVA_DB_PORT=5432
NOVA_DB_NAME=hfr_test_data
NOVA_DB_USER=pipeline
NOVA_DB_PASSWORD=test
NOVA_DB_SSLMODE=disable
NOVA_DB_NAME_REDSCALE=hfr_test_data
NOVA_DB_NAME_BLUESCALE=simulation_data
NOVA_REDSCALE_HOST=localhost
NOVA_REDSCALE_PORT=5432
NOVA_REDSCALE_USER=pipeline
NOVA_REDSCALE_PASSWORD=test
NOVA_REDSCALE_SSLMODE=disable
NOVA_BLUESCALE_HOST=localhost
NOVA_BLUESCALE_PORT=5433
NOVA_BLUESCALE_USER=analyst
NOVA_BLUESCALE_PASSWORD=test
NOVA_BLUESCALE_SSLMODE=disable
NOVA_DEFAULT_LIMIT=5000
